* {
  padding: 0%;
  margin: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

#cont-section-1 {
  position: relative;
  height: 350px;
  width: 100%;
  background-color: black;
}
#cont-section-1 .cont-image-section-1 {
  width: 100%;
  position: absolute;
  left: 0%;
  height: 100%;
}
#cont-section-1 .cont-image-section-1 .section-1__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#cont-section-1 .cont-text-section-1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
#cont-section-1 .cont-text-section-1 .cont-h1-section-1 {
  position: absolute;
  bottom: 45%;
  text-align: center;
  margin: auto;
}
#cont-section-1 .cont-text-section-1 .cont-h1-section-1 .section-1__h1 {
  color: rgb(66, 194, 66);
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  #cont-section-1 .cont-text-section-1 .cont-h1-section-1 .section-1__h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 550px) {
  #cont-section-1 .cont-text-section-1 .cont-h1-section-1 .section-1__h1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 290px) {
  #cont-section-1 .cont-text-section-1 .cont-h1-section-1 #section-1__h1-index {
    font-size: 20px;
  }
}
#cont-section-1 .cont-text-section-1 .cont-p-section-1 {
  position: absolute;
  bottom: 20%;
  text-align: center;
}
#cont-section-1 .cont-text-section-1 .cont-p-section-1 .section-1__p {
  color: rgb(228, 225, 225);
  font-size: 30px;
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  #cont-section-1 .cont-text-section-1 .cont-p-section-1 .section-1__p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 550px) {
  #cont-section-1 .cont-text-section-1 .cont-p-section-1 .section-1__p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 290px) {
  #cont-section-1 .cont-text-section-1 .cont-p-section-1 #section-1__p-index {
    font-size: 18px;
  }
}
@media only screen and (max-width: 550px) {
  #cont-section-1 .cont-text-section-1 .cont-p-section-1 {
    position: absolute;
    bottom: 20%;
  }
}

.cont-carousel .carousel-item {
  position: relative;
  height: 400px;
  margin-top: 0px;
}
.cont-carousel .carousel-item .carousel-img {
  display: none;
  width: 100%;
  height: 100%;
  filter: brightness(55%);
}
.cont-carousel .carousel-item .text-carousel-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel {
  position: absolute;
  z-index: 24;
  bottom: 35%;
  text-align: center;
}
.cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .h1-carousel {
  font-size: 45px;
  color: rgb(46, 214, 46);
}
@media only screen and (min-width: 550px) and (max-width: 800px) {
  .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .h1-carousel {
    font-size: 35px;
  }
}
@media only screen and (max-width: 549px) {
  .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .h1-carousel {
    font-size: 23px;
  }
}
.cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .p1-carousel {
  font-size: 23px;
  color: white;
}
@media only screen and (min-width: 550px) and (max-width: 800px) {
  .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .p1-carousel {
    font-size: 20px;
  }
}
@media only screen and (max-width: 549px) {
  .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .p1-carousel {
    font-size: 18px;
  }
}
@media only screen and (max-width: 300px) {
  .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel {
    bottom: 25%;
  }
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .cont-carousel .carousel-item .text-carousel-1 {
    margin-top: 58px;
  }
}
@media only screen and (max-width: 549px) {
  .cont-carousel .carousel-item .text-carousel-1 {
    margin-top: 58px;
    height: 300px;
  }
}
@media only screen and (max-width: 990px) {
  .cont-carousel .carousel-item .text-carousel-1 {
    display: flex;
    justify-content: center;
  }
}
.cont-carousel .carousel-item {
  position: relative;
  height: 400px;
  margin-top: 0px;
}
.cont-carousel .carousel-item .second-img {
  filter: brightness(55%);
  width: 100%;
  height: 100%;
}
.cont-carousel .carousel-item .text-carousel-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 {
  position: absolute;
  z-index: 24;
  bottom: 150px;
}
.cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 .p2-carousel {
  color: white;
  font-size: 40px;
}
@media only screen and (min-width: 550px) and (max-width: 700px) {
  .cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 .p2-carousel {
    font-size: 30px;
  }
}
@media only screen and (max-width: 549px) {
  .cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 .p2-carousel {
    font-size: 24px;
    text-align: center;
  }
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 {
    bottom: 160px;
  }
}
@media only screen and (max-width: 549px) {
  .cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 {
    bottom: 110px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .cont-carousel .carousel-item {
    margin-top: 58px;
  }
}
@media only screen and (max-width: 549px) {
  .cont-carousel .carousel-item {
    margin-top: 58px;
    height: 300px;
  }
}
.cont-carousel .carousel-item {
  position: relative;
  height: 400px;
  margin-top: 0px;
}
.cont-carousel .carousel-item .third-img {
  height: 100%;
  width: 100%;
  filter: brightness(55%);
}
.cont-carousel .carousel-item .text-carousel-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 {
  position: absolute;
  z-index: 24;
  bottom: 150px;
  text-align: center;
}
.cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 .p3-carousel {
  font-size: 40px;
  color: white;
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 .p3-carousel {
    font-size: 24px;
  }
}
@media only screen and (max-width: 549px) {
  .cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 .p3-carousel {
    font-size: 18px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 {
    bottom: 160px;
  }
}
@media only screen and (max-width: 549px) {
  .cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 {
    bottom: 110px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .cont-carousel .carousel-item {
    margin-top: 58px;
  }
}
@media only screen and (max-width: 549px) {
  .cont-carousel .carousel-item {
    height: 300px;
    margin-top: 58px;
  }
}

@media only screen and (max-width: 990px) {
  .carousel-control-prev .icon-control, .carousel-control-next .icon-control {
    display: none;
  }
}

section .cont-section-3-index {
  background-color: rgb(243, 239, 239);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
section .cont-section-3-index .box-section-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px 65px;
}
section .cont-section-3-index .box-section-3 .cont-icon-section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 0px;
  margin-right: 0px;
  border: solid 3px rgb(1, 171, 82);
  border-radius: 30px;
}
section .cont-section-3-index .box-section-3 .cont-icon-section-3 .icon-section-3 {
  color: rgb(1, 171, 82);
  font-size: 25px;
  padding: 10px;
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index .box-section-3 .cont-icon-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-section-3-index .box-section-3 .cont-icon-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
}
section .cont-section-3-index .box-section-3 .cont-text-section-3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px;
}
section .cont-section-3-index .box-section-3 .cont-text-section-3 .h3-section-3 {
  font-size: 16px;
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index .box-section-3 .cont-text-section-3 .h3-section-3 {
    font-size: 15px;
  }
}
section .cont-section-3-index .box-section-3 .cont-text-section-3 .p-section-3 {
  font-size: 13px;
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index .box-section-3 .cont-text-section-3 .p-section-3 {
    text-align: center;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-section-3-index .box-section-3 .cont-text-section-3 .p-section-3 {
    margin-bottom: 0%;
  }
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index .box-section-3 .cont-text-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-section-3-index .box-section-3 .cont-text-section-3 {
    margin: 20px 0px;
  }
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index .box-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-section-3-index .box-section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px;
    height: 100%;
  }
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-section-3-index {
    display: flex;
    flex-direction: column;
  }
}

section .cont-section-4 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
section .cont-section-4 .cont-text-section-4 {
  margin-bottom: 50px;
}
section .cont-section-4 .cont-text-section-4 .text-section-4 {
  color: rgb(66, 194, 66);
  font-size: 30px;
}
section .cont-section-4 .cont-igs {
  text-align: center;
  border: solid 2px rgb(66, 194, 66);
  border-radius: 40px;
  transition: all 0.5s;
}
section .cont-section-4 .cont-igs:hover {
  background-color: rgb(66, 194, 66);
}
section .cont-section-4 .cont-igs #instagram {
  font-size: 25px;
  padding: 20px 5px;
  color: black;
}
@media only screen and (max-width: 290px) {
  section .cont-section-4 .cont-igs #instagram {
    font-size: 20px;
    padding: 0px 5px;
  }
}
section .cont-section-4 .cont-igs .link-ig {
  text-decoration: none;
  font-size: 25px;
  padding: 20px 3px;
  color: black;
  transition: all 0.5s;
}
section .cont-section-4 .cont-igs .link-ig:hover {
  color: white;
}
@media only screen and (max-width: 290px) {
  section .cont-section-4 .cont-igs .link-ig {
    font-size: 20px;
  }
}
@media only screen and (max-width: 290px) {
  section .cont-section-4 .cont-igs {
    margin: 0px 15px;
  }
}
@media only screen and (max-width: 290px) {
  section .cont-section-4 {
    height: 200px;
    margin-top: 120px;
  }
}

section #cont-section-2-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  margin-top: 150px;
}
section #cont-section-2-buy #row-buy {
  display: flex;
  justify-content: center;
  height: 100%;
}
section #cont-section-2-buy #row-buy #box-buy {
  background: rgb(247, 243, 243);
  height: 100%;
  border: solid 1px black;
  margin: 0px 15px;
  transition: all 1s;
}
section #cont-section-2-buy #row-buy #box-buy:hover {
  background-color: rgb(231, 227, 227);
  transform: translateY(-10px);
  box-shadow: 0px 10px 7px 0px rgb(66, 194, 66);
}
section #cont-section-2-buy #row-buy #box-buy #cont-h2-buy {
  text-align: center;
  padding: 5px;
  height: 50px;
}
section #cont-section-2-buy #row-buy #box-buy #cont-h2-buy .h2-buy {
  font-size: 20px;
  height: 100%;
  color: rgb(66, 194, 66);
}
section #cont-section-2-buy #row-buy #box-buy #cont-h2-buy .h2-buy #icon-buy {
  color: rgb(66, 194, 66);
}
section #cont-section-2-buy #row-buy #box-buy #cont-p-buy {
  padding: 20px 0px;
  text-align: justify;
  height: 80%;
}
section #cont-section-2-buy #row-buy #box-buy #cont-p-buy .p-buy {
  text-align: justify;
}
@media only screen and (max-width: 660px) {
  section #cont-section-2-buy #row-buy #box-buy #cont-p-buy .p-buy {
    text-align: center;
  }
}
@media only screen and (max-width: 660px) {
  section #cont-section-2-buy #row-buy #box-buy {
    margin: 15px 0px;
  }
}
@media only screen and (max-width: 660px) {
  section #cont-section-2-buy #row-buy {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 660px) {
  section #cont-section-2-buy {
    width: 100%;
    height: 1200px;
  }
}

section .container-contact {
  margin: 45px 120px 0px 120px;
  background-color: white;
  border: solid 3px rgb(66, 194, 66);
  border-radius: 10px;
}
section .container-contact .mb-3 {
  margin: 5px 20px;
}
section .container-contact .mb-3 .form-label {
  color: black;
}
section .container-contact .mb-3 .form-control {
  border: solid 1px rgb(66, 194, 66);
  color: black;
}
section .container-contact .mb-3 .form-control::placeholder {
  color: gray;
}
section .container-contact .mb-3 textarea {
  height: 150px;
}
section .container-contact .cont-button {
  padding: 15px;
  text-align: center;
}
section .container-contact .cont-button #button-send {
  width: 120px;
}
@media only screen and (max-width: 550px) {
  section .container-contact {
    margin: 45px 40px 0px 40px;
  }
}

.section-carrousel {
  margin-top: 100px;
}
.section-carrousel .cont-carrousel {
  padding: 30px;
}
.section-carrousel .cont-carrousel .accordion-item {
  border: solid 2px green;
  padding: 10px;
}
.section-carrousel .cont-carrousel .accordion-item .accordion-header .accordion-button {
  color: green;
}

.section-2n {
  margin: 100px 50px;
  flex: flex;
  justify-content: center;
  align-items: center;
}
.section-2n .cont-button {
  display: flex;
  justify-content: center;
}
.section-2n .cont-button #button-nosotros {
  border: solid 2px rgb(66, 194, 66);
  background: white;
  color: green;
  padding: 10px;
}
.section-2n .cont-button #button-nosotros .section-2n__h2 {
  color: rgb(66, 194, 66);
  padding: 10px;
}
.section-2n .contain-pn {
  margin-top: 40px;
  font-size: 25px;
  text-align: center;
  transition: all 1s;
}
.section-2n .contain-pn .section2n__p .pn {
  padding: 20px 0px;
}

header .header-container .row-logo .search-container, header .header-container .row-ig .ig-container .cont-ig, header .header-container .row-ig {
  display: flex;
  align-items: center;
}

header .header-container .row-logo .logo-container {
  display: flex;
  justify-content: center;
}

header .header-container .row-ig {
  height: 20px;
  background-color: rgb(66, 194, 66);
}
header .header-container .row-ig .ig-container {
  height: 100%;
}
header .header-container .row-ig .ig-container .cont-ig {
  height: 100%;
}
header .header-container .row-ig .ig-container .cont-ig .icon-ig-link .fa-instagram {
  color: black;
}
@media only screen and (max-width: 990px) {
  header .header-container .row-ig {
    display: none;
  }
}
header .header-container .row-logo {
  max-height: 140px;
  background-color: rgb(1, 171, 82);
}
header .header-container .row-logo .logo-container .cont-logo .logo-link .logo-valle-verde {
  height: 100px;
  width: 200px;
}
header .header-container .row-logo .search-container {
  justify-content: left;
}
header .header-container .row-logo .search-container .search {
  margin-left: 20px;
  width: 75%;
}
header .header-container .row-logo .search-container .search .input-search {
  border: solid 1px rgb(1, 171, 82);
}
header .header-container .row-logo .search-container .search .input-search::placeholder {
  color: rgb(1, 171, 82);
}
header .header-container .row-logo .search-container .search .input-search .button-search {
  color: white;
}
header .header-container .row-logo .search-container .search .input-search .button-search .icon-search {
  color: white;
}
@media only screen and (max-width: 990px) {
  header .header-container .row-logo {
    display: none;
  }
}
header .header-container .row-nav #navBar #cont-nav {
  background-color: rgb(66, 194, 66);
}
header .header-container .row-nav #navBar #cont-nav #button-nav {
  font-size: 20px;
  margin: 10px;
  border: none;
}
header .header-container .row-nav #navBar #cont-nav #button-nav #bars {
  font-size: 30px;
  color: black;
}
header .header-container .row-nav #navBar #cont-nav .nav {
  background-color: lightgreen;
}
header .header-container .row-nav #navBar #cont-nav .nav .ul-nav {
  margin: 0 auto;
}
header .header-container .row-nav #navBar #cont-nav .nav .ul-nav .li-nav {
  margin: 5px 10px;
  line-height: 10px;
}
header .header-container .row-nav #navBar #cont-nav .nav .ul-nav .li-nav .navbar-link {
  font-size: 16px;
  color: rgb(1, 171, 82);
  padding: 10px 50px;
  border-right: solid 1px rgb(66, 202, 132);
}
header .header-container .row-nav #navBar #cont-nav .nav .ul-nav .li-nav .navbar-link:hover {
  color: rgb(134, 201, 134);
}
@media only screen and (max-width: 990px) {
  header .header-container .row-nav #navBar #cont-nav .nav .ul-nav .li-nav .navbar-link {
    font-size: 23px;
    padding: 50px 5px;
    border: none;
  }
}
header .header-container .row-nav #navBar #cont-nav .nav .ul-nav .li-contact {
  border-right: none;
}
@media only screen and (max-width: 990px) {
  header .header-container .row-nav #navBar #cont-nav .nav .ul-nav {
    margin-left: 0;
  }
}
@media only screen and (max-width: 990px) {
  header .header-container {
    position: fixed;
    z-index: 2222222;
  }
}

footer {
  margin-top: 100px;
}
footer .cont-footer {
  background-color: lightgreen;
}
footer .cont-footer .row-1-footer {
  margin: 0px;
  border-bottom: solid 1px rgb(1, 171, 82);
  display: flex;
  justify-content: center;
}
footer .cont-footer .row-1-footer .col-1-footer {
  margin: 20px 0px;
}
footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .h3-navegation {
  padding-left: 31px;
  font-size: 18px;
  color: white;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .h3-navegation {
    padding-left: 8px;
  }
}
footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .ul-navegation {
  list-style: none;
}
footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .ul-navegation .li-navegation {
  padding: 15px 0px;
}
footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .ul-navegation .li-navegation .link-navegation {
  color: rgb(1, 171, 82);
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .ul-navegation .li-navegation .link-navegation:hover {
  color: green;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .ul-navegation {
    padding-left: 10px;
  }
}
footer .cont-footer .row-1-footer .col-2-footer {
  margin: 20px 0px;
}
footer .cont-footer .row-1-footer .col-2-footer .cont-contact .h3-contact {
  padding-left: 31px;
  font-size: 18px;
  color: white;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-2-footer .cont-contact .h3-contact {
    padding-left: 8px;
  }
}
footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact {
  list-style: none;
}
footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact .li-contact {
  padding: 15px 0px;
}
footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact .li-contact .icon-contact {
  color: rgb(1, 171, 82);
}
footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact .li-contact .link-contact {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(1, 171, 82);
  text-decoration: none;
  padding: 0px 4px;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact .li-contact #gmail {
    font-size: 15px;
  }
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact {
    padding-left: 10px;
  }
}
footer .cont-footer .row-1-footer .col-3-footer {
  margin: 20px 0px;
}
footer .cont-footer .row-1-footer .col-3-footer .cont-redes .h3-redes {
  padding-left: 31px;
  font-size: 18px;
  color: white;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-3-footer .cont-redes .h3-redes {
    padding-left: 8px;
  }
}
footer .cont-footer .row-1-footer .col-3-footer .cont-redes .ul-redes {
  list-style: none;
}
footer .cont-footer .row-1-footer .col-3-footer .cont-redes .ul-redes .li-redes .link-redes {
  margin-top: 10px;
  margin-left: 34px;
  text-decoration: none;
  font-size: 19px;
}
footer .cont-footer .row-1-footer .col-3-footer .cont-redes .ul-redes .li-redes .link-redes .icon-redes {
  padding: 10px;
  background-color: rgb(1, 171, 82);
  color: white;
  border: solid 1px rgb(1, 171, 82);
  border-radius: 20px;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-3-footer .cont-redes .ul-redes .li-redes .link-redes {
    margin-top: 10px;
    margin-left: 8px;
    text-decoration: none;
    font-size: 19px;
  }
}
footer .cont-footer .row-2-footer {
  margin: 0px 20px;
}
footer .cont-footer .row-2-footer .col-1-footer-pay {
  margin: 20px 0px;
}
footer .cont-footer .row-2-footer .col-1-footer-pay .cont-pay .h3-pay {
  padding-left: 9px;
  font-size: 18px;
  color: white;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-2-footer .col-1-footer-pay .cont-pay .h3-pay {
    padding-left: 8px;
  }
}
footer .cont-footer .row-2-footer .col-1-footer-pay .cont-pay .cont-img-pay {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2px;
  margin-top: 10px;
}
footer .cont-footer .row-2-footer .col-1-footer-pay .cont-pay .cont-img-pay .img-pay {
  padding: 0px 10px;
  width: 45px;
  height: 15px;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-2-footer {
    margin-left: 10px;
  }
}
footer .cont-footer .row-3-footer {
  margin-top: 80px;
  background: rgb(1, 171, 82);
}
footer .cont-footer .row-3-footer .col-1-footer-copy {
  margin: 20px 0px;
}
footer .cont-footer .row-3-footer .col-1-footer-copy .cont-copy .p-copy {
  font-size: 16px;
  color: lightgreen;
}

section .cont-seccion-destacados {
  margin-top: 100px;
}
section .cont-seccion-destacados .cont-h2-destacados {
  margin: 40px;
  border-bottom: solid 1px rgb(223, 220, 220);
}
section .cont-seccion-destacados .cont-h2-destacados .h2-destacados {
  text-align: center;
  font-size: 25px;
}
section .cont-productos .row-productos {
  display: flex;
  justify-content: center;
  margin: 0px 80px;
}
section .cont-productos .row-productos .box-productos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  transition: all 1s;
}
section .cont-productos .row-productos .box-productos:hover {
  transform: translateY(-10px);
}
section .cont-productos .row-productos .box-productos .cont-img-destacados {
  margin-bottom: 10px;
}
section .cont-productos .row-productos .box-productos .cont-img-destacados .img-destacados {
  width: 170px;
  height: 90px;
  transition: all 0.5s;
}
section .cont-productos .row-productos .box-productos .cont-img-destacados .img-destacados:hover {
  height: 100px;
}
@media only screen and (min-width: 420px) and (max-width: 550px) {
  section .cont-productos .row-productos .box-productos .cont-img-destacados .img-destacados {
    width: 170px;
    height: 90px;
  }
}
@media only screen and (max-width: 410px) {
  section .cont-productos .row-productos .box-productos .cont-img-destacados .img-destacados {
    width: 100px;
    height: 50px;
  }
}
section .cont-productos .row-productos .box-productos .text-destacados {
  text-align: center;
}
section .cont-productos .row-productos .box-productos .text-destacados .text-destacados_p {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
@media only screen and (max-width: 550px) {
  section .cont-productos .row-productos {
    margin: 0px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-productos .row-productos {
    margin: 0px;
  }
}

section .cont-icon-wsp {
  position: fixed;
  z-index: 10000;
  text-align: end;
  bottom: 5%;
}
section .cont-icon-wsp .btn-wsp {
  text-decoration: none;
  padding: 20px;
  font-size: 30px;
}
section .cont-icon-wsp .btn-wsp .icon-wsp {
  color: white;
  background-color: rgb(57, 218, 57);
  padding: 9px;
  border: solid 1px rgb(57, 218, 57);
  border-radius: 50px;
  box-shadow: 5px 5px 20px 0px black;
}

/*# sourceMappingURL=style.css.map */
