* {
  padding: 0%;
  margin: 0%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

.btns-carousel .cont-carousel .carousel-item {
  position: relative;
  height: 400px;
  margin-top: 0px;
}
.btns-carousel .cont-carousel .carousel-item #carousel-img {
  width: 100%;
  height: 100%;
  filter: brightness(55%);
}
.btns-carousel .cont-carousel .carousel-item .text-carousel-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns-carousel .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel {
  position: absolute;
  z-index: 24;
  bottom: 35%;
  text-align: center;
}
.btns-carousel .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .h1-carousel {
  font-size: 45px;
  color: rgb(46, 214, 46);
}
@media only screen and (min-width: 550px) and (max-width: 800px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .h1-carousel {
    font-size: 35px;
  }
}
@media only screen and (max-width: 549px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .h1-carousel {
    font-size: 23px;
  }
}
.btns-carousel .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .p1-carousel {
  font-size: 23px;
  color: white;
}
@media only screen and (min-width: 550px) and (max-width: 800px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .p1-carousel {
    font-size: 20px;
  }
}
@media only screen and (max-width: 549px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel .p1-carousel {
    font-size: 18px;
  }
}
@media only screen and (max-width: 300px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-1 .cont-text-carousel {
    bottom: 25%;
    width: 75%;
  }
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-1 {
    margin-top: 65px;
  }
}
@media only screen and (max-width: 549px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-1 {
    margin-top: 75px;
    height: 300px;
  }
}
@media only screen and (max-width: 990px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-1 {
    display: flex;
    justify-content: center;
  }
}
.btns-carousel .cont-carousel .carousel-item {
  position: relative;
  height: 400px;
  margin-top: 0px;
}
.btns-carousel .cont-carousel .carousel-item #carousel-img {
  filter: brightness(55%);
  width: 100%;
  height: 100%;
}
.btns-carousel .cont-carousel .carousel-item .text-carousel-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns-carousel .cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 {
  position: absolute;
  z-index: 24;
  bottom: 150px;
}
.btns-carousel .cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 .p2-carousel {
  color: white;
  font-size: 40px;
}
@media only screen and (min-width: 550px) and (max-width: 700px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 .p2-carousel {
    font-size: 30px;
  }
}
@media only screen and (max-width: 549px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 .p2-carousel {
    font-size: 24px;
    text-align: center;
  }
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 {
    bottom: 160px;
  }
}
@media only screen and (max-width: 549px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-2 .cont-text-carousel2 {
    bottom: 110px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .btns-carousel .cont-carousel .carousel-item {
    margin-top: 58px;
  }
}
@media only screen and (max-width: 549px) {
  .btns-carousel .cont-carousel .carousel-item {
    margin-top: 58px;
    height: 300px;
  }
}
.btns-carousel .cont-carousel .carousel-item {
  position: relative;
  height: 400px;
  margin-top: 0px;
}
.btns-carousel .cont-carousel .carousel-item #carousel-img {
  height: 100%;
  width: 100%;
  filter: brightness(55%);
}
.btns-carousel .cont-carousel .carousel-item .text-carousel-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns-carousel .cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 {
  position: absolute;
  z-index: 24;
  bottom: 150px;
  text-align: center;
}
.btns-carousel .cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 .p3-carousel {
  font-size: 40px;
  color: white;
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 .p3-carousel {
    font-size: 24px;
  }
}
@media only screen and (max-width: 549px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 .p3-carousel {
    font-size: 18px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 {
    bottom: 160px;
  }
}
@media only screen and (max-width: 549px) {
  .btns-carousel .cont-carousel .carousel-item .text-carousel-3 .cont-text-carousel3 {
    bottom: 110px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  .btns-carousel .cont-carousel .carousel-item {
    margin-top: 58px;
  }
}
@media only screen and (max-width: 549px) {
  .btns-carousel .cont-carousel .carousel-item {
    height: 300px;
    margin-top: 58px;
  }
}
@media only screen and (max-width: 990px) {
  .btns-carousel .carousel-control-prev, .btns-carousel .carousel-control-next {
    margin-top: 58px;
    position: absolute;
    z-index: 101010010101;
  }
}
.btns-carousel .carousel-control-prev .icon-control, .btns-carousel .carousel-control-next .icon-control {
  height: 23px;
}
@media only screen and (max-width: 990px) {
  .btns-carousel .carousel-control-next {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 990px) {
  .btns-carousel .carousel-control-prev {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 990px) {
  .btns-carousel {
    padding: 0px;
  }
}

section .cont-section-3-index {
  background-color: rgb(243, 239, 239);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
section .cont-section-3-index .box-section-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px 65px;
}
section .cont-section-3-index .box-section-3 .cont-icon-section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 0px;
  margin-right: 0px;
  border: solid 3px rgb(66, 194, 66);
  border-radius: 30px;
}
section .cont-section-3-index .box-section-3 .cont-icon-section-3 .icon-section-3 {
  color: rgb(66, 194, 66);
  font-size: 25px;
  padding: 10px;
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index .box-section-3 .cont-icon-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-section-3-index .box-section-3 .cont-icon-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
}
section .cont-section-3-index .box-section-3 .cont-text-section-3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px;
}
section .cont-section-3-index .box-section-3 .cont-text-section-3 .h3-section-3 {
  font-size: 16px;
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index .box-section-3 .cont-text-section-3 .h3-section-3 {
    font-size: 15px;
  }
}
section .cont-section-3-index .box-section-3 .cont-text-section-3 .p-section-3 {
  font-size: 13px;
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index .box-section-3 .cont-text-section-3 .p-section-3 {
    text-align: center;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-section-3-index .box-section-3 .cont-text-section-3 .p-section-3 {
    margin-bottom: 0%;
  }
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index .box-section-3 .cont-text-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-section-3-index .box-section-3 .cont-text-section-3 {
    margin: 20px 0px;
  }
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index .box-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-section-3-index .box-section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px;
    height: 100%;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-3-index #box-1-section-3 {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 550px) {
  section .cont-section-3-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-section-3-index {
    display: flex;
    flex-direction: column;
  }
}

section .cont-section-4 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
section .cont-section-4 .cont-text-section-4 {
  margin-bottom: 50px;
}
section .cont-section-4 .cont-text-section-4 .text-section-4 {
  color: rgb(66, 194, 66);
  font-size: 30px;
}
section .cont-section-4 .cont-igs {
  text-align: center;
  border: solid 2px rgb(66, 194, 66);
  border-radius: 40px;
  transition: all 0.5s;
}
section .cont-section-4 .cont-igs:hover {
  background-color: rgb(66, 194, 66);
}
section .cont-section-4 .cont-igs #instagram {
  font-size: 25px;
  padding: 20px 5px;
  color: black;
}
@media only screen and (max-width: 290px) {
  section .cont-section-4 .cont-igs #instagram {
    font-size: 20px;
    padding: 0px 5px;
  }
}
section .cont-section-4 .cont-igs .link-ig {
  text-decoration: none;
  font-size: 25px;
  padding: 20px 3px;
  color: black;
  transition: all 0.5s;
}
section .cont-section-4 .cont-igs .link-ig:hover {
  color: white;
}
@media only screen and (max-width: 290px) {
  section .cont-section-4 .cont-igs .link-ig {
    font-size: 20px;
  }
}
@media only screen and (max-width: 290px) {
  section .cont-section-4 .cont-igs {
    margin: 0px 15px;
  }
}
@media only screen and (max-width: 290px) {
  section .cont-section-4 {
    height: 200px;
    margin-top: 120px;
  }
}

header .header-container .row-logo .search-container, header .header-container .row-ig .ig-container .cont-ig {
  display: flex;
  align-items: center;
}

footer .cont-footer .row-1-footer, header .header-container .row-logo .logo-container {
  display: flex;
  justify-content: center;
}

header .header-container .row-ig {
  height: 20px;
  background-color: rgb(66, 194, 66);
}
header .header-container .row-ig .ig-container {
  height: 100%;
}
header .header-container .row-ig .ig-container .cont-ig {
  height: 100%;
}
header .header-container .row-ig .ig-container .cont-ig .icon-ig-link .fa-instagram {
  color: black;
}
@media only screen and (max-width: 990px) {
  header .header-container .row-ig {
    display: none;
  }
}
header .header-container .row-logo {
  max-height: 140px;
  background-color: rgb(1, 171, 82);
}
header .header-container .row-logo .logo-container .cont-logo .logo-link .logo-valle-verde {
  height: 100px;
  width: 200px;
}
header .header-container .row-logo .search-container {
  justify-content: left;
}
header .header-container .row-logo .search-container .search {
  margin-left: 20px;
  width: 75%;
}
header .header-container .row-logo .search-container .search .input-search {
  border: solid 1px rgb(1, 171, 82);
}
header .header-container .row-logo .search-container .search .input-search::placeholder {
  color: rgb(1, 171, 82);
}
header .header-container .row-logo .search-container .search .input-search .button-search {
  color: white;
}
header .header-container .row-logo .search-container .search .input-search .button-search .icon-search {
  color: white;
}
@media only screen and (max-width: 990px) {
  header .header-container .row-logo {
    display: none;
  }
}
header .header-container .row-nav #navBar #cont-nav {
  background-color: rgb(66, 194, 66);
}
header .header-container .row-nav #navBar #cont-nav #button-nav {
  font-size: 20px;
  margin: 10px;
  border: none;
}
header .header-container .row-nav #navBar #cont-nav #button-nav #bars {
  font-size: 30px;
  color: black;
}
header .header-container .row-nav #navBar #cont-nav .nav {
  background-color: lightgreen;
}
header .header-container .row-nav #navBar #cont-nav .nav .ul-nav {
  margin: 0 auto;
}
header .header-container .row-nav #navBar #cont-nav .nav .ul-nav .li-nav {
  margin: 5px 10px;
  line-height: 10px;
}
header .header-container .row-nav #navBar #cont-nav .nav .ul-nav .li-nav .navbar-link {
  font-size: 16px;
  color: rgb(1, 171, 82);
  padding: 10px 50px;
  border-right: solid 1px rgb(66, 202, 132);
}
header .header-container .row-nav #navBar #cont-nav .nav .ul-nav .li-nav .navbar-link:hover {
  color: rgb(134, 201, 134);
}
@media only screen and (max-width: 990px) {
  header .header-container .row-nav #navBar #cont-nav .nav .ul-nav .li-nav .navbar-link {
    font-size: 23px;
    padding: 50px 5px;
    border: none;
  }
}
header .header-container .row-nav #navBar #cont-nav .nav .ul-nav .li-contact {
  border-right: none;
}
@media only screen and (max-width: 990px) {
  header .header-container .row-nav #navBar #cont-nav .nav .ul-nav {
    margin-left: 0;
  }
}
@media only screen and (max-width: 990px) {
  header .header-container {
    position: fixed;
    z-index: 2222222;
  }
}

header .header-container .row-ig .ig-container .cont-ig, header .header-container .row-logo .search-container {
  display: flex;
  align-items: center;
}

footer .cont-footer .row-1-footer, header .header-container .row-logo .logo-container {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 100px;
}
footer .cont-footer {
  background-color: lightgreen;
}
footer .cont-footer .row-1-footer {
  margin: 0px;
  border-bottom: solid 1px rgb(1, 171, 82);
}
footer .cont-footer .row-1-footer .col-1-footer {
  margin: 20px 0px;
}
footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .h3-navegation {
  padding-left: 31px;
  font-size: 18px;
  color: white;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .h3-navegation {
    padding-left: 8px;
  }
}
footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .ul-navegation {
  list-style: none;
}
footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .ul-navegation .li-navegation {
  padding: 15px 0px;
}
footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .ul-navegation .li-navegation .link-navegation {
  color: rgb(1, 171, 82);
  text-decoration: none;
}
footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .ul-navegation .li-navegation .link-navegation:hover {
  color: green;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-1-footer .cont-navegation .ul-navegation {
    padding-left: 10px;
  }
}
footer .cont-footer .row-1-footer .col-2-footer {
  margin: 20px 0px;
}
footer .cont-footer .row-1-footer .col-2-footer .cont-contact .h3-contact {
  padding-left: 31px;
  font-size: 18px;
  color: white;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-2-footer .cont-contact .h3-contact {
    padding-left: 8px;
  }
}
footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact {
  list-style: none;
}
footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact .li-contact {
  padding: 15px 0px;
}
footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact .li-contact .icon-contact {
  color: rgb(1, 171, 82);
}
footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact .li-contact .link-contact {
  color: rgb(1, 171, 82);
  text-decoration: none;
  padding: 0px 4px;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact .li-contact #gmail {
    font-size: 15px;
  }
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-2-footer .cont-contact .ul-contact {
    padding-left: 10px;
  }
}
footer .cont-footer .row-1-footer .col-3-footer {
  margin: 20px 0px;
}
footer .cont-footer .row-1-footer .col-3-footer .cont-redes .h3-redes {
  padding-left: 31px;
  font-size: 18px;
  color: white;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-3-footer .cont-redes .h3-redes {
    padding-left: 8px;
  }
}
footer .cont-footer .row-1-footer .col-3-footer .cont-redes .ul-redes {
  list-style: none;
}
footer .cont-footer .row-1-footer .col-3-footer .cont-redes .ul-redes .li-redes .link-redes {
  margin-top: 10px;
  margin-left: 34px;
  text-decoration: none;
  font-size: 19px;
}
footer .cont-footer .row-1-footer .col-3-footer .cont-redes .ul-redes .li-redes .link-redes .icon-redes {
  padding: 10px;
  background-color: rgb(1, 171, 82);
  color: white;
  border: solid 1px rgb(1, 171, 82);
  border-radius: 20px;
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-1-footer .col-3-footer .cont-redes .ul-redes .li-redes .link-redes {
    margin-top: 10px;
    margin-left: 8px;
    text-decoration: none;
    font-size: 19px;
  }
}
footer .cont-footer .row-2-footer {
  margin: 0px 20px;
}
footer .cont-footer .row-2-footer .col-1-footer-pay {
  margin: 20px 0px;
}
footer .cont-footer .row-2-footer .col-1-footer-pay .cont-pay .h3-pay {
  padding-left: 9px;
  font-size: 18px;
  color: white;
}
footer .cont-footer .row-2-footer .col-1-footer-pay .cont-pay .cont-img-pay {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2px;
  margin-top: 10px;
}
footer .cont-footer .row-2-footer .col-1-footer-pay .cont-pay .cont-img-pay .img-pay {
  padding: 0px 10px;
  width: 45px;
  height: 15px;
}
@media only screen and (max-width: 990px) {
  footer .cont-footer .row-2-footer .col-1-footer-pay {
    padding-left: 8px;
  }
}
@media only screen and (max-width: 450px) {
  footer .cont-footer .row-2-footer {
    margin-left: 10px;
  }
}
footer .cont-footer .row-3-footer {
  margin-top: 80px;
  background: rgb(1, 171, 82);
}
footer .cont-footer .row-3-footer .col-1-footer-copy {
  margin: 20px 0px;
}
footer .cont-footer .row-3-footer .col-1-footer-copy .cont-copy .p-copy {
  font-size: 16px;
  color: lightgreen;
}

section .cont-seccion-destacados {
  margin-top: 100px;
}
section .cont-seccion-destacados .cont-h2-destacados {
  margin: 40px;
  border-bottom: solid 1px rgb(223, 220, 220);
}
section .cont-seccion-destacados .cont-h2-destacados .h2-destacados {
  text-align: center;
  font-size: 25px;
}
section .cont-productos .row-productos {
  display: flex;
  justify-content: center;
  margin: 0px 80px;
}
section .cont-productos .row-productos .box-productos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  transition: all 1s;
}
section .cont-productos .row-productos .box-productos:hover {
  transform: translateY(-10px);
}
section .cont-productos .row-productos .box-productos .cont-img-destacados {
  margin-bottom: 10px;
}
section .cont-productos .row-productos .box-productos .cont-img-destacados .img-destacados {
  width: 170px;
  height: 90px;
  transition: all 0.5s;
}
section .cont-productos .row-productos .box-productos .cont-img-destacados .img-destacados:hover {
  height: 100px;
}
@media only screen and (min-width: 420px) and (max-width: 550px) {
  section .cont-productos .row-productos .box-productos .cont-img-destacados .img-destacados {
    width: 170px;
    height: 90px;
  }
}
@media only screen and (max-width: 410px) {
  section .cont-productos .row-productos .box-productos .cont-img-destacados .img-destacados {
    width: 100px;
    height: 50px;
  }
}
section .cont-productos .row-productos .box-productos .text-destacados {
  text-align: center;
}
section .cont-productos .row-productos .box-productos .text-destacados .text-destacados_p {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
@media only screen and (max-width: 550px) {
  section .cont-productos .row-productos {
    margin: 0px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 990px) {
  section .cont-productos .row-productos {
    margin: 0px;
  }
}

section .cont-icon-wsp {
  position: fixed;
  z-index: 10000;
  text-align: end;
  bottom: 5%;
  display: block;
}
section .cont-icon-wsp .btn-wsp {
  text-decoration: none;
  padding: 20px;
  font-size: 30px;
}
section .cont-icon-wsp .btn-wsp .icon-wsp {
  color: white;
  background-color: rgb(57, 218, 57);
  padding: 9px;
  border: solid 1px rgb(57, 218, 57);
  border-radius: 50px;
  box-shadow: 5px 5px 20px 0px black;
}

section .cont-section-1-nosotros {
  margin: 50px 0px 5px 0px;
  flex: flex;
  justify-content: flex-start;
  align-items: center;
}
section .cont-section-1-nosotros .cont-h1-nosotros {
  display: inline-block;
  width: 50%;
  margin: 0px 10px;
  border-bottom: solid 2px lightgreen;
}
section .cont-section-1-nosotros .cont-h1-nosotros .h1-nosotros {
  font-size: 25px;
  color: rgb(46, 214, 46);
}
@media only screen and (min-width: 550px) and (max-width) {
  section .cont-section-1-nosotros .cont-h1-nosotros .h1-nosotros {
    padding: 15px;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-1-nosotros .cont-h1-nosotros {
    display: inline-block;
    margin: 80px 0px 5px 0px;
    width: 80%;
    border-bottom: none;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-1-nosotros {
    margin: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

section .cont-section-2-nosotros {
  margin: 30px 0px;
}
section .cont-section-2-nosotros .text-container-nosotros {
  margin: 10px;
}
section .cont-section-2-nosotros .text-container-nosotros .text-nosotros {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: black;
}
@media only screen and (max-width: 990px) {
  section .cont-section-2-nosotros .text-container-nosotros {
    text-align: center;
  }
}

section .cont-image-nosotros {
  margin-bottom: 50px;
  text-align: center;
}
section .cont-image-nosotros .image-nosotros {
  height: 250px;
  width: 90%;
}

section .cont-section-3-nosotros {
  margin-bottom: 15px;
  flex: flex;
  justify-content: flex-start;
  align-items: center;
}
section .cont-section-3-nosotros .h2-nosotros-container {
  display: inline-block;
  width: 30%;
  margin: 0px 10px;
  border-bottom: solid 2px lightgreen;
}
section .cont-section-3-nosotros .h2-nosotros-container .h2-nosotros {
  font-size: 25px;
  color: rgb(46, 214, 46);
}
@media only screen and (max-width: 990px) {
  section .cont-section-3-nosotros .h2-nosotros-container {
    display: inline-block;
    margin-top: 5px;
    width: 80%;
    border-bottom: none;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-3-nosotros {
    margin: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

section .cont-section-4-nosotros {
  margin: 30px 0px;
}
section .cont-section-4-nosotros .text-container-nosotros-2 {
  margin: 10px;
}
section .cont-section-4-nosotros .text-container-nosotros-2 .text-nosotros-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: black;
}
@media only screen and (max-width: 990px) {
  section .cont-section-4-nosotros .text-container-nosotros-2 {
    text-align: center;
  }
}
section .cont-section-4-nosotros .carousel-container-nosotros .carousel-marcas-container {
  border-top: solid 4px #8ff78f;
  border-bottom: solid 4px #8ff78f;
}
section .cont-section-4-nosotros .carousel-container-nosotros .carousel-marcas-container .carousel-marcas {
  width: 25%;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}
section .cont-section-4-nosotros .carousel-container-nosotros .carousel-marcas-container .carousel-marcas .carousel-item {
  height: 120px;
}
section .cont-section-4-nosotros .carousel-container-nosotros .carousel-marcas-container .carousel-marcas .carousel-item #carousel-marcas-img {
  background-color: white;
  height: 120px;
}

section .cont-section-5-nosotros {
  margin: 30px 0px;
  flex: flex;
  justify-content: flex-start;
  align-items: center;
}
section .cont-section-5-nosotros .h3-nosotros-container {
  display: inline-block;
  width: 40%;
  margin: 0px 10px;
  margin-top: 50px;
  border-bottom: solid 2px lightgreen;
}
section .cont-section-5-nosotros .h3-nosotros-container .h3-nosotros {
  font-size: 25px;
  color: rgb(46, 214, 46);
}
@media only screen and (max-width: 990px) {
  section .cont-section-5-nosotros .h3-nosotros-container {
    display: inline-block;
    margin-top: 5px;
    width: 80%;
    border-bottom: none;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-5-nosotros {
    margin: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

section .cont-section-6-nosotros {
  margin: 30px 0px;
}
section .cont-section-6-nosotros .text-container-nosotros-3 {
  margin: 10px;
}
section .cont-section-6-nosotros .text-container-nosotros-3 .text-nosotros-3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: black;
}
@media only screen and (max-width: 990px) {
  section .cont-section-6-nosotros .text-container-nosotros-3 {
    text-align: center;
  }
}
section .cont-section-6-nosotros .text-container-nosotros-3 .cont-iframe {
  text-align: center;
}
section .cont-section-6-nosotros .text-container-nosotros-3 .cont-iframe iframe {
  width: 90%;
  padding: 30px 0px;
  height: 100%;
}

section .cont-section-1-preguntas .cont-h1-preguntas {
  margin: 30px;
  width: 45%;
  display: inline-block;
  border-bottom: solid 3px rgb(46, 214, 46);
}
section .cont-section-1-preguntas .cont-h1-preguntas .h1-preguntas {
  font-size: 40px;
  color: rgb(46, 214, 46);
}
@media only screen and (max-width: 550px) {
  section .cont-section-1-preguntas .cont-h1-preguntas .h1-preguntas {
    font-size: 32px;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-1-preguntas .cont-h1-preguntas {
    text-align: center;
    margin-top: 100px;
    width: 90%;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-1-preguntas {
    display: flex;
    justify-content: center;
  }
}

section .cont-section-2-preguntas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
}
section .cont-section-2-preguntas .cont-accordion {
  width: 50%;
  border-right: solid 3px rgb(46, 214, 46);
}
section .cont-section-2-preguntas .cont-accordion .h2-accordion {
  text-align: start;
  font-size: 25px;
  color: black;
  padding: 5px;
  margin-left: 40px;
  width: 45%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-bottom: solid 1px rgb(194, 192, 192);
}
@media only screen and (max-width: 550px) {
  section .cont-section-2-preguntas .cont-accordion .h2-accordion {
    text-align: center;
    font-size: 25px;
    margin-left: 0px;
    margin-top: 30px;
    padding: 0px;
    display: inline-block;
    border: none;
    width: 90%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
section .cont-section-2-preguntas .cont-accordion .accordion {
  border: solid 2px rgb(2, 172, 2);
  width: auto;
  margin: 5px 40px;
}
section .cont-section-2-preguntas .cont-accordion .accordion .accordion-item .accordion-question-cont .accordion-question {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: green;
  font-size: 20px;
}
section .cont-section-2-preguntas .cont-accordion .accordion .accordion-item .accordion-answer-cont .accordion-answer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media only screen and (max-width: 550px) {
  section .cont-section-2-preguntas .cont-accordion .accordion .accordion-item .accordion-answer-cont .accordion-answer {
    text-align: left;
  }
}
@media only screen and (max-width: 550px) {
  section .cont-section-2-preguntas .cont-accordion .accordion {
    border: solid 2px rgb(2, 172, 2);
    width: auto;
    margin: 30px 5px;
  }
}
@media only screen and (max-width: 550px) {
  section .cont-section-2-preguntas .cont-accordion {
    width: 100%;
    border-bottom: solid 1px rgb(46, 214, 46);
    border-right: none;
    text-align: center;
    margin: 15px 0px;
  }
}
@media only screen and (max-width: 550px) {
  section .cont-section-2-preguntas .cont-accordion-1 {
    margin-top: 0px;
  }
}
section .cont-section-2-preguntas .cont-accordion-2 {
  border-right: none;
}
@media only screen and (max-width: 550px) {
  section .cont-section-2-preguntas .cont-accordion-2 {
    border-bottom: none;
  }
}
@media only screen and (max-width: 550px) {
  section .cont-section-2-preguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
  }
}

section .cont-section-1-comprar .cont-h1-comprar {
  display: inline-block;
  width: 45%;
  margin: 30px;
  border-bottom: solid 3px rgb(46, 214, 46);
}
section .cont-section-1-comprar .cont-h1-comprar .h1-comprar {
  font-size: 40px;
  color: rgb(46, 214, 46);
}
@media only screen and (max-width: 990px) {
  section .cont-section-1-comprar .cont-h1-comprar .h1-comprar {
    font-size: 28px;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-1-comprar .cont-h1-comprar {
    display: inline-block;
    margin: 80px 0px 5px 0px;
    width: 80%;
    border-bottom: none;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-1-comprar {
    margin: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

section .cont-section-2-comprar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section .cont-section-2-comprar .box-section-2 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: solid 2px rgb(46, 214, 46);
  transition: all 1s;
  width: 33.3%;
}
section .cont-section-2-comprar .box-section-2:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 10px 0px rgb(46, 214, 46);
}
section .cont-section-2-comprar .box-section-2 .cont-text-section-2 {
  margin: 10px;
}
section .cont-section-2-comprar .box-section-2 .cont-text-section-2 .icon-section-2 {
  border: solid 2px rgb(46, 214, 46);
  border-radius: 100%;
  padding: 10px;
  color: rgb(46, 214, 46);
}
section .cont-section-2-comprar .box-section-2 .cont-text-section-2 .h2-section-2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: rgb(46, 214, 46);
}
section .cont-section-2-comprar .box-section-2 .cont-text-section-2 .section-2-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
@media only screen and (max-width: 550px) {
  section .cont-section-2-comprar .box-section-2 .cont-text-section-2 .section-2-text {
    font-size: 15px;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-2-comprar .box-section-2 {
    margin: 10px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: solid 2px rgb(46, 214, 46);
    transition: all 1s;
    width: 85%;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-2-comprar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

section .cont-section-1-contact .cont-h1-contact {
  margin: 30px;
  width: 45%;
  display: inline-block;
  border-bottom: solid 3px rgb(46, 214, 46);
}
section .cont-section-1-contact .cont-h1-contact .h1-contact {
  font-size: 40px;
  color: rgb(46, 214, 46);
}
@media only screen and (max-width: 550px) {
  section .cont-section-1-contact .cont-h1-contact .h1-contact {
    font-size: 28px;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-1-contact .cont-h1-contact {
    text-align: center;
    margin-top: 100px;
    width: 90%;
  }
}
@media only screen and (max-width: 990px) {
  section .cont-section-1-contact {
    display: flex;
    justify-content: center;
  }
}

.cont-section-2-contact .cont-text-contact {
  margin: 10px 200px;
}
.cont-section-2-contact .cont-text-contact .text-contact {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
@media only screen and (max-width: 850px) {
  .cont-section-2-contact .cont-text-contact {
    margin: 10px 10px;
  }
}

section .cont-contact-form {
  width: 55%;
  background-color: rgb(66, 194, 66);
  border: solid 1px rgb(66, 194, 66);
  border-radius: 20px;
}
section .cont-contact-form .cont-input {
  margin: 20px 10px;
}
section .cont-contact-form .cont-input .form-label {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
section .cont-contact-form .cont-input .form-control {
  border: solid 1px black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
section .cont-contact-form .cont-input .form-control::placeholder {
  color: rgb(187, 185, 185);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
section .cont-contact-form .consulta {
  display: flex;
  flex-direction: column;
}
section .cont-contact-form .consulta #text-area-form {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 6px 12px;
  height: 100px;
}
section .cont-contact-form .cont-btn-submit {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
section .cont-contact-form .cont-btn-submit .btn-form {
  color: white;
  background-color: rgb(66, 194, 66);
  text-align: center;
  border: none;
}
@media only screen and (max-width: 450px) {
  section .cont-contact-form {
    border: solid 1px rgb(66, 194, 66);
    border-radius: 10px;
    width: 85%;
  }
}

/*# sourceMappingURL=style.css.map */
