* {
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;

}

/*Encabezado*/
.cont-instagram {
    background-color: rgb(52, 189, 52);
    width: 100vw;
    height: 25px;
    display: flex;
    align-items: center;
}

#ig-encabezado {
    font-size: 18px;
    padding: 20px 10px;
    text-align: center;
    color: black;
}

/*Fin de encabezado*/



/*Header*/
#navbarNav {
    background-color: rgb(144, 188, 179);
    width: 100%;
}

#header {
    width: 100vw;
    background-color: green;
}

li>a {
    color: white;
}

.navbar-nav {
    width: 100%;
    margin-left: 0%;
    padding: 0%;
}

.navbar-toggler {
    border: none;
    height: 100%;
}

#cont-header {
    background-color: rgb(144, 188, 179);
    position: relative;
    bottom: 8px;
}

.nav-item {
    padding: 30px 25px;
}

.nav-link {
    font-size: 18px;

}

button {
    color: white;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.navbar-brand>img {
    height: 100px;
    width: 200px;
}

/*Fin de header*/

/*Seccion 1 index*/
#cont-section-1 {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    top: 15px;
}

.section-1 {
    position: relative;
    bottom: 20px;
    height: 200px;
    width: 100vw;
}

.imgss {
    width: 100vw;
}

#cont-img {
    width: 100vw;
    position: relative;
    height: 100%;
    bottom: 15px;
}

#cont-img>img {
    width: 100%;
    height: 390px;
}

#cont-p {
    position: absolute;
    bottom: -35%;
    width: 100vw;
    text-align: center;
}

.section-1__p {
    font-size: 35px;
    color: white;

}

#cont-h1 {
    width: 100vw;
    position: absolute;
    bottom: 20%;
    text-align: center;

}

#h1f {
    font-size: 40px;
    width: 100%;
}

#h1f>h1 {
    color: rgb(77, 224, 77);
    font-size: 50px;
    width: 100%;
}

.cont-h2p {
    width: 100%;
    position: relative;
    top: 300px;
}


.cont-h2p>h2 {
    text-align: center;
    font-size: 40px;

}

.carousel-inner {
    position: relative;
    top: 450px;
}

.carousel-item {
    height: 480px;
    position: relative;
}

.carousel__p {
    position: absolute;
    bottom: 20%;
    left: 35%;
    color: white;
    font-size: 50px;
}

.carousel-control-prev {
    position: relative;
    top: 105px;
}

.carousel-control-next {
    position: relative;
    top: 22px;
    left: 85%;
    margin-top: 50px;
}

#cont-section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px green;
    border-top: solid 1px green;
    width: 100vw;
    margin-top: 450px;
    height: 300px;
}

.section-3__p {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    margin: 30px 0px;
    height: 85%;
    width: 100%;
}

.section-3__p>b {
    font-size: 21px;
}
