@import '../base/variables';
.btns-carousel{
.cont-indicators{

}
.cont-carousel {
    .carousel-item {
        position: relative;
        height: 400px;
        margin-top: 0px;
        #carousel-img {
            width: 100%;
            height: 100%;
            filter: brightness(55%);
        }
        .text-carousel-1 {
            display: flex;
            align-items: center;
            justify-content: center;
            .cont-text-carousel {
                position: absolute;
                z-index: 24;
                bottom: 35%;
                text-align: center;
                .h1-carousel {
                    font-size: 45px;
                    color: $text-color-principal;
                    @media only screen and (min-width:550px) and (max-width:800px){
                        font-size: 35px;
                    }
                    @media only screen and (max-width:549px) {
                        font-size: 23px;
                    }
                }
                .p1-carousel {
                    font-size: 23px;
                    color: white;
                    @media only screen and (min-width:550px) and (max-width:800px){
                        font-size: 20px;
                    }
                    @media only screen and (max-width:549px) {
                        font-size: 18px;
                    }
                }
                @media only screen and (min-width:301px) and (max-width:990px){
                }
                @media only screen and (max-width:300px){
                    bottom: 25%;
                    width: 75%;
                }
            }
            @media only screen and (min-width:550px) and (max-width:990px) {
                margin-top: 58px;
            }
            @media only screen and (max-width:549px) {
                margin-top: 58px;
                height: 300px;
            }
            @media only screen and (max-width:990px){
                display: flex;
                justify-content: center;
            }
        }
    }

    .carousel-item {
        position: relative;
        height: 400px;
        margin-top: 0px;

        #carousel-img{
            filter: brightness(55%);
            width: 100%;
            height: 100%;
        }

        .text-carousel-2 {
            display: flex;
            justify-content: center;
            align-items: center;

            .cont-text-carousel2 {
                position: absolute;
                z-index: 24;
                bottom: 150px;
                .p2-carousel {
                    color: white;
                    font-size: 40px;
                    @media only screen and (min-width:550px) and (max-width:700px){
                        font-size: 30px;
                    }
                    @media only screen and (max-width:549px) {
                        font-size: 24px;
                        text-align: center;
                    }
                }

                @media only screen and (min-width:550px) and (max-width:990px) {
                    bottom: 160px;
                }

                @media only screen and (max-width:549px) {
                    bottom: 110px;
                }
            }
        }

        @media only screen and (min-width:550px) and (max-width:990px) {
            margin-top: 58px;
        }

        @media only screen and (max-width:549px) {
            margin-top: 58px;
            height: 300px;
        }
    }

    .carousel-item {
        position: relative;
        height: 400px;
        margin-top: 0px;

        #carousel-img{
            height: 100%;
            width: 100%;
            filter: brightness(55%);
        }

        .text-carousel-3 {
            display: flex;
            justify-content: center;
            align-items: center;

            .cont-text-carousel3 {
                position: absolute;
                z-index: 24;
                bottom: 150px;
                text-align: center;

                .p3-carousel {
                    font-size: 40px;
                    color: white;

                    @media only screen and (min-width:550px) and (max-width:990px) {
                        font-size: 24px;
                    }

                    @media only screen and (max-width:549px) {
                        font-size: 18px;
                    }
                }

                @media only screen and (min-width:550px) and (max-width:990px) {
                    bottom: 160px;
                }

                @media only screen and (max-width:549px) {
                    bottom: 110px;
                }
            }
        }

        @media only screen and (min-width:550px) and (max-width:990px) {
            margin-top: 58px;
        }

        @media only screen and (max-width:549px) {
            height: 300px;
            margin-top: 58px;
        }
    }
}
.carousel-control-prev, .carousel-control-next{
    @media only screen and (min-width:551px) and (max-width:990px){
        margin-top: 65px;
        position: absolute;
        z-index: 101010010101;
    }
    @media only screen and (max-width:550px){
        margin-top: 75px;
        position: absolute;
        z-index: 101010010101;
    }
    .icon-control{
        height: 23px;
    }
}
.carousel-control-next{
    @media only screen and (max-width:990px){
        padding-left: 30px;
    }
}
.carousel-control-prev{
    @media only screen and (max-width:990px){
        padding-right: 30px;
    }
}
@media only screen and (max-width:990px){
    padding: 0px;
}
}