@import '../base/variables';

section {
    .container-contact{
        margin: 45px 120px 0px 120px;
        background-color: white;
        border: solid 3px $bg-color-principal;
        border-radius: 10px;
        .mb-3 {
            margin: 5px 20px;
            .form-label {
                color:black;
            }

            .form-control {
                border: solid 1px $bg-color-principal;
                color: black;
                &::placeholder{
                    color: gray;
                }   
            }
            textarea{
                height: 150px;
            }
        }

        .cont-button {
            padding: 15px;
            text-align: center;
            #button-send {
                width: 120px;
            }
        }
        @media only screen and (max-width:550px) {
            margin: 45px 40px 0px 40px;
        }
    }
}
