@import '../base/variables';
@import '../base/mixin';
@import '../base/maps';
header{
    .cont-instagram{
        width: 100%;
        background-color: $bg-color-principal;
        .link-ig{
            padding: 5px 10px;
            font-size: 20px;
            #ig-encabezado{
                color: black;
            }
        }
    @media only screen and (max-width:990px) {
        display: none;
    }
    }
    #nav{
        #cont-header{
            position: relative;
            height: 150px;
            background-color: $bg-header;
            .navbar-brand{
                height: 100%;
                width: 200px;
                margin-left: 20px;
                .navbar-img{
                    height: 100%;
                    width: 100%;
                }
                @media only screen and (max-width:990px) {
                    display: none;
                }
            }
            .navbar-toggler{
                font-size: 20px;
                padding: 5px 5px;
                border: none; 
            }
            #navbarNav{
                @include flex-end (flex, flex-end, center);
                .navbar-nav{
                    .page{
                        padding: 0px 25px;
                        #inicio{
                            color: map-get($link-page, color-letter);
                            font-size: map-get($link-page, size-letter);
                            transition: all 0,5s;
                            &:hover{
                                border-bottom: solid 2px $bg-color-principal;
                                color: gray;
                            }
                        }
                        #nosotros{
                            color: map-get($link-page, color-letter);
                            font-size: map-get($link-page, size-letter);
                            transition: all 0,5s;
                            &:hover{
                                border-bottom: solid 2px $bg-color-principal;
                                color: gray;
                            }
                        }
                        #preguntas{
                            color: map-get($link-page, color-letter);
                            font-size: map-get($link-page, size-letter);
                            transition: all 0,5s;
                            &:hover{
                                border-bottom: solid 2px $bg-color-principal;
                                color: gray;
                            }
                        }   
                        #comprar{
                            color: map-get($link-page, color-letter);
                            font-size: map-get($link-page, size-letter);
                            transition: all 0,5s;
                            &:hover{
                                border-bottom: solid 2px $bg-color-principal;
                                color: gray;
                            }
                        }
                        #contacto{
                            color: map-get($link-page, color-letter);
                            font-size: map-get($link-page, size-letter);
                            transition: all 0,5s;
                            &:hover{
                                border-bottom: solid 2px $bg-color-principal;
                                color: gray;
                            }
                        }


                    @media only screen and (max-width:990px) {
                        padding: 25px 0px;
                    }
                    }
                }
            }
            @media only screen and (max-width:990px) {
                background-color: $bg-color-principal;
                height: 100%;
                position: relative;
                bottom: 0%;
            }
        }
        @media only screen and (max-width:990px) {
            position: fixed;
            width: 100vw;
            z-index: 10;
            background: green;
        }
    }
}












