@import '../base/variables';
@import '../base/extends';
@import '../base/maps';

header {
    .header-container {
        .row-ig {
            height: 20px;
            background-color: $bg-color-principal;            
            .ig-container {
                height: 100%;
                .cont-ig {
                    @extend %align-item-center;
                    height: 100%;
                    .icon-ig-link {
                        .fa-instagram {
                            color: black;
                        }
                    }
                }
            }
            @media only screen and (max-width:990px){
                display: none;
            }
        }
        .row-logo {
            max-height: 140px;
            background-color: rgb(1, 171, 82);
            .logo-container {
                @extend %justify-center;
                .cont-logo {
                    .logo-link {
                        .logo-valle-verde {
                            height: 100px;
                            width: 200px;
                        }
                    }
                }
            }

            .search-container {
                @extend %align-item-center;
                justify-content: left;

                .search {
                    margin-left: 20px;
                    width: 75%;

                    .input-search {
                        border: solid 1px rgb(1, 171, 82);

                        &::placeholder {
                            color: rgb(1, 171, 82);
                        }

                        .button-search {
                            color: white;

                            .icon-search {
                                color: white;
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width:990px) {
                display: none;
            }
        }

        .row-nav {
            #navBar {
                #cont-nav {
                    background-color: $bg-color-principal;

                    #button-nav {
                        font-size: 20px;
                        margin: 10px;
                        border: none;

                        #bars {
                            font-size: 30px;
                            color: black;
                        }
                    }

                    .nav {
                        background-color: lightgreen;

                        .ul-nav {
                            margin: 0 auto;

                            .li-nav {
                                margin: 5px 10px;
                                line-height: 10px;

                                .navbar-link {
                                    font-size: map-get($link-nav-style, size-letter);
                                    color: map-get($link-nav-style, color-letter);
                                    padding: map-get($link-nav-style, padding-letter);
                                    border-right: map-get($link-nav-style, border-letter);

                                    &:hover {
                                        color: rgb(134, 201, 134);
                                    }

                                    @media only screen and (max-width:990px) {
                                        font-size: 23px;
                                        padding: 50px 5px;
                                        border: none;
                                    }
                                }
                            }

                            .li-contact {
                                border-right: none;
                            }

                            @media only screen and (max-width:990px) {
                                margin-left: 0;
                            }
                        }

                        @media only screen and (max-width:990px) {}
                    }
                }
            }
        }

        @media only screen and (max-width:990px) {
            position: fixed;
            z-index: 2222222;
        }
    }
}