.section-carrousel{
    margin-top: 100px;
    .cont-carrousel {
        padding: 30px;
        .accordion-item {
            border: solid 2px green;
            padding: 10px;
            .accordion-header {
                .accordion-button {
                    color: green;
                }
            }
        }
    }
}