@import '../base/variables';
#cont-section-1{
    position: relative;
    bottom: 16px;
    height: 350px;
    width: 100%;
    background-color: black;
    .cont-image-section-1{
        width: 100%;
        position: absolute;
        left: 0%;
        height: 100%;
        background-color: aqua;
        .section-1__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
    .cont-text-section-1{
        width: 100%;
        .cont-h1-section-1{
            width: 100%;
            position: absolute;
            bottom: 45%;
            text-align: center;
            .section-1__h1{
                color: $bg-color-principal;
                @media only screen and (max-width:550px) {
                    font-size: 25px;
                }
            }
        }
        .cont-p-section-1{
            width: 100%;
            position: absolute;
            bottom: 20%;
            text-align: center;
            .section-1__p{
                color: rgb(228, 225, 225);
                font-size: 30px;
                @media only screen and (max-width:600px) {
                    font-size: 23px;
                }
            }
        }
    }
}