@import '../base/variables';
section{
    .cont-section-2-preguntas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 35px;
        .cont-accordion{
            width: 50%;
            border-right: solid 3px $text-color-principal;
            .h2-accordion{
                text-align:start;
                font-size: 25px;
                color: black;
                padding: 5px;
                margin-left: 40px;
                width: 45%;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                border-bottom: solid 1px rgb(194, 192, 192);
                @media only screen and (max-width:550px){
                    text-align:center;
                    font-size: 25px;
                    margin-left: 0px;
                    margin-top: 30px;
                    padding:0px;
                    display: inline-block;
                    border: none;
                    width: 90%;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
            }
            .accordion{
                border: solid 2px rgb(2, 172, 2);
                width: auto;
                margin: 5px 40px;
                .accordion-item{
                    .accordion-question-cont{
                        .accordion-question{
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            color: green;
                            font-size: 20px;
                        }
                    }
                    .accordion-answer-cont{
                        .accordion-answer{
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            @media only screen and (max-width:550px){
                                text-align: left;
                            }
                        }
                    }
                }
                @media only screen and (max-width:550px){
                    border: solid 2px rgb(2, 172, 2);
                    width: auto;
                    margin: 30px 5px;
                }
            }
            @media only screen and (max-width:550px){
                width: 100%;
                border-bottom: solid 1px $text-color-principal;
                border-right: none;
                text-align: center;
                margin: 15px 0px;
            }
        }
        .cont-accordion-1{
            @media only screen and (max-width:550px){
                margin-top: 0px;
            }
        }
        .cont-accordion-2{
            border-right: none;
            @media only screen and (max-width:550px){
                border-bottom: none;
            }
        }
        @media only screen and (max-width:550px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 35px;
        }
    }
}