@import '../base/variables';
@import '../base/mixin';
section{
    .cont-section-1-nosotros{
        margin: 50px 0px 5px 0px;
        @include flex(flex, flex-start, center);
        .cont-h1-nosotros{
            display: inline-block;
            width: 50%;
            margin: 0px 10px;
            border-bottom: solid 2px lightgreen;
            .h1-nosotros{
                font-size: 25px;
                color: $text-color-principal;
                @media only screen and (min-width:550px) and (max-width){
                    padding: 15px;
                }
            }
            @media only screen and (max-width:990px){
                display: inline-block;
                margin: 80px 0px 5px 0px;
                width: 80%;
                border-bottom: none;
            }
        }
        @media only screen and (max-width:990px){
            margin: 0px 5px 5px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}