section{
    .cont-icon-wsp{
        position: fixed;
        z-index: 10000;
        text-align: end;
        bottom: 5%;
        .btn-wsp{
            text-decoration: none;
            padding: 20px;
            font-size: 30px;
            .icon-wsp{
                color: white;
                background-color: rgb(57, 218, 57);
                padding: 9px;
                border: solid 1px rgb(57, 218, 57);
                border-radius: 50px;
                box-shadow: 5px 5px 20px 0px black;
            }
        }
    }
}