@import '../base/variables';
$instagram:(
    bg-instagram: $bg-color-principal,
    border: solid 2px $bg-color-principal,
    border-circular: 40px,
    color-texto: $bg-color-principal,
    icono-instagram: black,
);

$link-page:(
    color-letter:white,
    size-letter:18px,
);
$link-nav-style:(
    size-letter: 16px,
    color-letter:rgb(1, 171, 82),
    padding-letter: 10px 50px,
    border-letter: solid 1px  rgb(66, 202, 132),
);