@mixin flex-end ($flex, $alignH, $alignV) {
    flex: $flex;
    justify-content: $alignH;
    align-items: $alignV;
}
@mixin flex ($flex, $alignH, $alignV){
    flex: $flex;
    justify-content: $alignH;
    align-items: $alignV;
}
